.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.grey {
	background-color: gray;
	border: 2px solid black;
	color: gold;
	cursor: not-allowed;
}

.medium-violet-red {
	background-color: mediumvioletred;
}

.midnight-blue {
	background-color: midnightblue;
}
